RewriteEngine On

# 1. Remove .php extension
# If the user types /dashboard, look for dashboard.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# 2. (Optional) Redirect from pages/admin/ to a shorter path
# This allows you to use: Qtrace-Website/admin-dashboard
RewriteRule ^dashboard$ pages/admin/dashboard.php [NC,L]
RewriteRule ^project-list$ pages/admin/project_list.php [NC,L]
RewriteRule ^project-map$ pages/admin/project_map.php [NC,L]
RewriteRule ^add-project$ pages/admin/add_project.php [NC,L]
RewriteRule ^contractor-list$ pages/admin/contractor_list.php [NC,L]
RewriteRule ^add-contractor$ pages/admin/add_contractor.php [NC,L]
RewriteRule ^view-contractor$ pages/admin/view_contractor.php [NC,L]
RewriteRule ^edit-contractor$ pages/admin/edit_contractor.php [NC,L]
RewriteRule ^engineer-list$ pages/admin/engineer_list.php [NC,L]
RewriteRule ^add-engineer$ pages/admin/add_engineer.php [NC,L]
RewriteRule ^history$ pages/admin/history.php [NC,L]
RewriteRule ^reports$ pages/admin/reports.php [NC,L]

RewriteRule ^add-account$ pages/admin/add_account.php [NC,L]
RewriteRule ^account-list$ pages/admin/account_list.php [NC,L]

#For Public pages
RewriteRule ^home$ pages/public/home.php [NC,L]
RewriteRule ^projects$ pages/public/project.php [NC,L]
RewriteRule ^project-details$ pages/public/projectDetails.php [NC,L]
RewriteRule ^map$ pages/public/map.php [NC,L]
RewriteRule ^contractors$ pages/public/contractors.php [NC,L]
RewriteRule ^contractors-details$ pages/public/contractorDetails.php [NC,L]