@import url("./theme.css");

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Background Colors */
.bg-color-primary {
  background-color: var(--primary) !important;
}

.bg-color-accent {
  background-color: var(--accent) ;
  color: var(--background) !important;
}

.bg-color-surface {
  background-color: var(--surface) !important;
}

.bg-color-secondary {
  background-color: var(--secondary);
}

.bg-color-background {
  background-color: var(--background) !important;
}

.btn-blue-primary {
   background-color: var(--btn-blue-primary) !important;
}
/* Fonts */
.fs-8 {
  font-size: 0.8rem;
}

.color-black {
  color: var(--text-dark) !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Scrollable Main Content */
.main-view {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f4f7f6;
  padding: 1.5rem;
}

/* Content Wrapper */
.content-area {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* UI Elements */
.nav-link {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 5px;
  border-radius: 8px;
}
.nav-link:hover,
.nav-link.active {
  background: var(--btn-blue-secondary);
}
.nav-link.active {
  background-color: var(--btn-blue-primary) !important;
  color: var(--background) !important;
}
